<div class="container-fluid ele-ht-wd">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rm-padding register-col-lg-12 ele-ht pos-rel bg-white 100vh" style="padding-left:0px !important;padding-right:0px !important;background-color: #fff;">
        <img src="assets/images/signup-bg.svg" class="map-overlay-bg">
        <div class="col-xs-12 map-overlay div-display" id="imgDiv" style="height: 100vh">
            <div class="tookan_logo_modify pos-rel" style="height: 100px;padding-top:25px !important;">
                <div class="row d-flex">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 d-flex">
                    <img [ngClass]="{'white-label-logo-height':commonService.pageSettings.is_wht_lable==1}" [src]="commonService.pageSettings.brand_img_page || '/assets/images/logo_dark_new.svg'" alt="Image" class="img-responsive signup_logo_img"
                        style="max-width:200px" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 brand_poweredby">
                    <span class="powered-by">Powered By</span>
                    <a href="https://jungleworks.co/" target="_blank">
                        <img src="assets/images/jw-logo.svg" alt="Image" class="img-responsive jw-logo" id="jw_logo_img" />
                    </a>
                </div>
            </div>
            </div>
            <div class=" custom_register_row mrn-top-xxlg pos-rel">
                <div class="div-flex2 ele-ht ele-wd to-hide">
                    <div class="ele-wd">
                        <p class="custom_register_h1">Reset Password</p>

                        <form [formGroup]="forgotPwd" (submit)="forgotPassword()" class="mb-lg" autocomplete="false" id="resetForm" name="resetForm">
                            <div class="form-group">
                                <span class="custom_register_span ">Enter your email to receive instructions on how to reset your password. </span>
                            </div>
                            <div class="form-group input-container input-img-email " style="position: relative;">
                                <input id="resetInputEmail1" type="email" placeholder="Enter Email" class="form-control custom_register_form-control" formControlName="email"
                                    autocomplete="false" />
                                <control-messages [control]="forgotPwd.controls.email"></control-messages>

                            </div>

                            <div class=" text-center">
                                <button type="submit" [disabled]="showLoader==1 ? true : false " class="btn btn-primary custom_register_btn-primary ">Reset Password
                                </button>
                            </div>
                            <div class=" text-center">
                                <p class="custom_register_span">
                                    <a [routerLink]="['/page/login']" style="color:#1394ff">Back to Login</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="load-dyn"></div>
</div>