@import "~assets/css/variables";
@import '~assets/css/radio-button';
@import '~assets/css/checkbox-radio';
@import '~assets/css/commonBlueButton';
@import '~assets/css/prime-datepicker.scss';
@import '~assets/css/checkbox-radio.scss';
@import '~assets/css/switch.scss';
.panel{
    padding: 15px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }
  .taskHeaderSub{
    font-size: 15px;
    line-height: 1.18;
    color: rgba(0, 0, 0, 0.42);
  }

  .container-dispatcher-page {
    padding: 10px 5px 5px 40px;
  }
 
  label.control-label {
    text-transform: uppercase;
    display: block;
    font-size: 10px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 0 10px 0 0;
  }

  .add-dev-form-control {
    background: 0 0;
    border: none;
    outline: 0;
    border-bottom: 1px solid #c8c8c8;
    width: 80%;
    padding: 5px 0 0 0;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.71);
    font-family: $proxima-reg;
    letter-spacing: 0.9px;
    position: relative;
    &:disabled {
      background-color: #fff;
      cursor: not-allowed;
    }
  }
  .add-dev-form-control:focus,:host /deep/ .intl-tel-input input.form-control:focus{
    border-bottom: 1px solid $color-blue;
  }
  
  input.form-control.add-dev-form-control {
    box-shadow: none;
  }
  
  .mrgn-top {
      margin-top: 12px;
  }

  .checkbox-box {
    position: relative;
    border: solid 1px rgba(0, 0, 0, 0.1);
    padding: 13px 20px;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    cursor: pointer;
    *{
      cursor: pointer;      
    }
    .radio-ck-label{
      margin:0 0 0 15px;
      font-size: 14px;
  
    }
}

.btn-uplaod{
  border-radius: 25px;
  backdrop-filter: blur(3px);
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.12);
  color: $color-blue;
  padding: 10px !important;
  min-width: 150px;
  font-size: 13.1px !important;
  font-family: $mont-light;
  text-transform: uppercase;
}

.trash-icon {
    top: 10px;
}

:host /deep/ .intl-tel-input, .intl-tel-input input[type=text] {
    border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.71);
    font-family: $proxima-reg;
    letter-spacing: 0.9px;
    width: 80%;
}

:host /deep/ .intl-tel-input input.form-control{
    width: 100%;
    padding-left: 50px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    background: 0 0;
    border: none;
    outline: 0;
    // border-bottom: 1px solid #c8c8c8;
    border-radius: 0;
    color: rgba(0, 0, 0, 0.71);
    font-family: $proxima-reg;
    letter-spacing: 0.9px;
    &:focus {
        outline: none;
        box-shadow: none;
    }
  }

.panel-box .panel {
  padding: 15px 15px 5px;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  font-family: $proxima-thin ;
  height: 80%;
}


.light-font {
  font-family: $proxima-thin 
}

.form-label {
  font-size: 12px;
  letter-spacing: 1.2px;
  font-family: $proxima-bold;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
.scroller {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}


.create-task-input {
  border-radius: 2px !important;
  height: 40px !important;
  line-height: 16px !important;
  font-size: 14px !important;
  padding: 10px !important;
  border: solid 1px rgba(0, 0, 0, 0.11) !important;
  position: relative;
}

.create-task-input:focus {
  border: 1px solid #4695f6 !important;
}

.chars-left {
  padding: 0;
  font-size:12px;
  float: right;
}


.div-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bold-font {
  font-family: $proxima-bold;
  font-size: 12px;
  word-wrap: break-word;
}


.nav > li {
  position: relative;
  display: block;
}
.easy-3s {
  transition: all .3s;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

@media (min-width: 992px){
  :host /deep/ .modal-lg {
  max-width: 1100px !important;
  
  }
  :host /deep/ .modal-body {
    min-height: 450px !important;
  }
  }
  @media (min-width: 576px) {
  :host /deep/ div.modal-dialog-centered {
  min-height: calc(100% - (1.75rem * 2));
  }
  }
  :host /deep/ .modal-title {
  font-weight: 500;
  letter-spacing: 1.5px;
  }

  .add-doc {
    display: flex;
    align-items: center;
  }

  .account-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .heading {
    font-size: 12px;
    color: #979797;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  .dir {
    direction: ltr;
  }

  .add-category-input {
    resize: none;
    // width: 100% !important;
    height: 21px;
    border: none;
    border-bottom: solid 1px rgba(151, 151, 151, 0.38);
    padding: 0 0 1px;
    opacity: 1;
    outline: 0;
    font-size: 16px;
    color: #333;
    background-color: #fff;
  }
 
  :host /deep/ .ui-dropdown {
    border: none !important;
    // z-index: 2;
  }

  .required-class {
    color:#FF0000
  }

  .cursor-not {
    cursor: not-allowed !important;
  }

  .delete-icon {
    text-align: center; 
    cursor: pointer;
  }
.allow-all-opt {
  display: flex !important;
  justify-content: space-between;
}

:host /deep/ .input-box {
  background: 0 0;
  border: none;
  outline: 0;
  border-bottom: 1px solid #c8c8c8;
  width: 80%;
  padding: 5px 0 0 0;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.71);
  font-family: "ProximaNova-Regular";
  letter-spacing: 0.9px;
  position: relative;
  width: 80% !important;
}
.exp-date {
  border: none !important;
}
// :host /deep/ .add-category-input.dir.exp-date .ui-calendar input.ui-inputtext.ui-widget.ui-stat {
//     resize: none;
//     width: 100% !important;
//     height: 21px;
//     border: none;
//     border-bottom: solid 1px rgba(151, 151, 151, 0.38);
//     padding: 0 0 1px;
//     opacity: 1;
//     outline: 0;
//     font-size: 16px;
//     color: #333;
//     background-color: #fff;
// }

.add-category-input {
  &:disabled {
    background-color: #fff;
    // border-bottom: 0px;
  }
}

.doc-row {
  display: flex;
  align-items: center;
}

.geo-area {
  display: flex;
  align-items: center;
}

:host /deep/ .intl-tel-input .country-list.dropup {
  top: 100%;
}

.error{
  color:red;    
  font-size: 14px;
}
.upload-file {
  padding-right: 35px;
  text-overflow: ellipsis;
}

.icon-cloud {
  position: absolute;
  right: 16px;
}
.fa-cloud-upload{
  position: relative;
}

:host /deep/ .ui-dropdown-panel .ui-dropdown-list {
  background-color: #fff;
}
.update_service{
  font-size: 11px !important;
}

.labelClass{
  margin: 5px;
  margin-right: 10px;
  font-size: 12px;
  color: #979797;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.formControlDiv{
  // max-width: 100%;
  align-items: center;
}
.deleteMobile{
  padding-top: 5px;
}
:host /deep/ p-calendar input{
  height: 25px;
}
:host /deep/ .add-category-input{
  font-size: 14px !important;
}
:host /deep/ .dropwdownMobile .ui-dropdown{
  width: 100% !important;
}
.fa-cloud-upload{
  position: relative;
}
.mobileInput, p-dropdown, p-calendar{
  margin-left: 15px;
  font-size: 14px;
  width: 100%;
}

@media (min-width: 768px){
  .account-row{
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .mobileInput{
    margin: 0px;
    font-size: 16px !important;
  }
  .dropwdownMobile, p-calendar{
    margin: 0;
    width: 100%;
  }
  .mobileInput, p-dropdown, p-calendar{
    font-size: 16px;
  }
  :host /deep/ p-calendar input{
    height: 34px;
  }
  :host /deep/ p-dropdown label{
    font-size: 16px;
  }
  :host /deep/  .expiry_date .error{
    margin-top: 14px;
  }


}



