<div class="container-dispatcher-page  ele-ht">

    <div class="col-12 row inner-padding">
      <div class="fullwidth">
        <h2 class="page-heading">Videos</h2>
      </div>
      <button type="button" class="btn common-btn-green export_btn add-button" (click)="showAddPopup()">
        <ng-container i18n>Add</ng-container> Videos</button>
    </div>
    <div class="table-responsive pg-ctnr ov-y-a bg-light-lite  fancy-table-outer inner-padding">
      <div class="fullwidth">
        <div class="table-responsive">
          <!-- Table -->
          <p-table #dt [columns]="columns" [value]="videosList" [paginator]="true" [pageLinks]="8" [alwaysShowPaginator]="true" [rows]="rows"
            [totalRecords]="totalRecords" [style]="{width:'100%'}" (onPage)="onPageChange($event,rows,videosList)" (onFilter)="onFilterChange($event)"
            (onSort)="onPageChange({ rows: +rows, first: 0 },rows,videosList)" [autoLayout]='true' sortField="id"
            sortOrder="-1">
            <ng-template pTemplate="caption">
              <div class="search-control">
                <i class="tf search icon_search"></i>
                <input type="text" autofocus class="column-search" pInputText size="50" placeholder="Search Video" i18n-placeholder (input)="dt.filterGlobal($event.target.value, 'contains')">
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th [pSortableColumn]="'video_id'" class="pl-4">
                  <ng-container i18n>ID</ng-container>
                  <p-sortIcon [field]="'video_id'"></p-sortIcon>
                </th>
                <th>
                  <ng-container i18n>Title</ng-container>
                </th>
                <th>
                  <ng-container i18n>Description</ng-container>
                </th>
                <th>
                    <ng-container i18n>Link</ng-container>
                  </th>
                  <th [pSortableColumn]="'creation_datetime'">
                      <ng-container i18n>Added On</ng-container>
                      <p-sortIcon [field]="'creation_datetime'"></p-sortIcon>
                    </th>
                <th>
                  <ng-container>ACTIONS</ng-container>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr class="row-bg-color">
                <td style="padding-left: 25px">{{item.video_id}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td><a href="{{item.video_link}}"  target="_blank">{{item.video_link}}</a></td>
                <td>{{item.creation_datetime | date: "MM/dd/yyyy HH:mm:ss"}}</td>
                <td class="actions-td">
                  <div class="menu-box">
                    <i class="tf more-menu" (click)="showActionMenu($event)"></i>
                    <ul class="menu-list" id="actionMenu">
                      <li class="list-item" (click)="editVideoItem(item)">
                        <ng-container i18n>Edit</ng-container>
                      </li>
                      <li class="list-item" (click)="deleteVideoItem(item)">
                        <ng-container i18n>Delete</ng-container>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
  
            <ng-template pTemplate="paginatorleft" let-state>
              {{infotext}}
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <div class="d-flex d-flex align-items-center">
                <div>
                  <select class="custom-dropdown" [(ngModel)]="rows" (change)="onPageChange({ rows: +rows, first: 0 },rows,serviceList)">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                  </select>
                </div>
                <div class="paginatorCaption d-flex align-items-center">
                  <ng-container i18n>records per page</ng-container>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No Data Available
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <!-- popup for add/edit service -->
    <app-popup *ngIf="showAddVideoPopup" [minHeight]="'250px'" [header]="video_popup_action_title" (onClose)="onCancelClick()">
      <div body>
        <form [formGroup]="addVideosForm">
          <input type="email" name="email" class="form-control add-dev-form-control" style="display: none" />
          <input type="password" name="password" class="form-control add-dev-form-control input-box-agent" style="display: none" />
          <div class="row d-flex">
            <div class="form-group col-sm-6">
              <label class="control-label">
                <ng-container i18n>Title</ng-container>
                <span style='color:#FF0000'>*</span>
              </label>
              <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" placeholder="Title" name="title" maxlength="50" class="form-control add-dev-form-control" formControlName="title" autofocus/>
              <control-messages [control]="addVideosForm.controls.title"></control-messages>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">
                  <ng-container i18n>Description</ng-container>
                  <span style='color:#FF0000'>*</span>
                </label>
                <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" maxlength="100" placeholder="Description"
                 name="description" class="form-control add-dev-form-control" formControlName="description"/>
                <control-messages [control]="addVideosForm.controls.description"></control-messages>
              </div>
              <div class="form-group col-sm-6">
                  <label class="control-label">
                    <ng-container i18n>Link</ng-container>
                    <span style='color:#FF0000'>*</span>
                  </label>
                  <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" placeholder="Enter Video Url"
                   name="link" class="form-control add-dev-form-control" formControlName="link"/>
                  <control-messages [control]="addVideosForm.controls.link"></control-messages>
                </div>

                <div class="form-group col-sm-6" *ngIf="showPassword">
                  <label class="control-label">
                    <ng-container i18n>Password</ng-container>
                    <span style='color:#FF0000'>*</span>
                  </label>
                  <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" placeholder="Enter Password"
                   name="link" class="form-control add-dev-form-control" formControlName="password"/>
                  <control-messages [control]="addVideosForm.controls.password"></control-messages>
                </div>
          </div>
        </form>
      </div>
      <div footer class="footer-buttons " style="text-align: right">
        <button id="close-button" class="btn btn-default" (click)="onCancelClick()">
          <ng-container i18n>Cancel</ng-container>
        </button>
        <button id="create-button" class="btn common-btn-green export_btn add-button" (click)="addVideo()">
          <ng-container *ngIf="!is_editing_video">
            <ng-container i18n>Create</ng-container>
          </ng-container>
          <ng-container *ngIf="is_editing_video">
            <ng-container i18n>Update</ng-container>
          </ng-container>
        </button>
      </div>
    </app-popup>


     <!-- popup for delete service -->
    <app-popup class="assign-ag" [modalType]="popupModalType.MEDIUM" *ngIf="showDeleteVideoPopup" [minHeight]="'200px'" header="Delete Video"
    i18n-header (onClose)="onCancelClick()">
        <div body>
            <div class="row d-flex">
                <div class="form-group col-sm-12"  *ngIf="showDeletePassword">
                  <span style="display:flex;">Enter password
                    <span style="padding:0 15px;">
                  <input type="text" [(ngModel)]="password" pInputText [pKeyFilter]="commonService.blockSpecial" placeholder="Enter Password" name="password" class="form-control add-dev-form-control"  autofocus>
                    </span>to delete this Video.</span>
                </div>
              </div>
              <div class="row d-flex" *ngIf="!showDeletePassword">
                  <div class="form-group col-sm-12">
                  <h5 style="color:#333">Are you sure you want to delete this Video?</h5>  
                  </div>
                </div>
        </div>
      <div footer class="footer-buttons " style="text-align: right">
        <button id="close-button" class="btn btn-default" (click)="onCancelClick()">
          <ng-container i18n>Cancel</ng-container>
        </button>
        <button id="create-button" class="btn common-btn-green export_btn add-button" (click)="deleteVideo()">
          <ng-container>
            <ng-container i18n>Confirm</ng-container>
          </ng-container>
        </button>
      </div>
    </app-popup>
  
  </div>
  
