.custom_register_btn-primary{
    margin-top: 20px;
}

@media screen and (min-width: 1200px) {
    .custom_register_row {
        padding: 10px 100px 0 !important;
    }
}

    #resetForm {
            width: 440px;
            margin: auto;
            padding-bottom: 15px;
            max-width: 100%;
    }

    .input-img-password input{
        padding-right: 30px;
    }