<div class="container-dispatcher-page  ele-ht">

  <div class="col-12 row inner-padding">
    <div class="fullwidth">
      <h2 class="page-heading" i18n>Developers</h2>
      <p class="main-sub-heading pro-rg-font">
        <ng-container i18n>You can add developers who would have the ability to create and manage marketplace applications for your account.</ng-container>
      </p>
    </div>
    <button type="button" class="btn common-btn-green export_btn create-button" (click)="showAddPopup()">
      <ng-container i18n>Add developer</ng-container>
    </button>
  </div>
  <div class="table-responsive pg-ctnr ov-y-a bg-light-lite  fancy-table-outer inner-padding">
    <div class="fullwidth">
      <div class="table-responsive">
        <!-- Table -->

        <p-table #dt [columns]="columns" [value]="developersList" [paginator]="true" [pageLinks]="8" [alwaysShowPaginator]="true"
          [rows]="rows" [totalRecords]="totalRecords" [style]="{width:'100%'}" (onPage)="onPageChange($event,rows,developersList)"
          (onFilter)="onFilterChange($event)" (onSort)="onPageChange({ rows: +rows, first: 0 },rows,developersList)">
          <ng-template pTemplate="caption">
            <div class="search-control">
              <i class="tf search icon_search"></i>
              <input type="text" class="column-search" pInputText size="50" placeholder="Search Developer" i18n-placeholder (input)="dt.filterGlobal($event.target.value, 'contains')">
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th [pSortableColumn]="'first_name'" class="col-one col-1-pd">
                <ng-container i18n>NAME</ng-container>
                <p-sortIcon [field]="'first_name'"></p-sortIcon>
              </th>
              <th [pSortableColumn]="'email'" class="col-two">
                <ng-container i18n>EMAIL</ng-container>
                <p-sortIcon [field]="'email'"></p-sortIcon>
              </th>
              <th class="col-three">
                <ng-container i18n>ACTIONS</ng-container>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="row-bg-color"> 
              <td class="col-1-pd">{{item.first_name}}</td>
              <td>{{item.email}}</td>
              <td class="actions-td">
                <div class="menu-box">
                  <i class="tf more-menu" (click)="showActionMenu($event)"></i>
                  <ul class="menu-list">
                    <li class="list-item" (click)="deleteDeveloperItem(item)">
                      <ng-container i18n>Delete</ng-container>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="paginatorleft" let-state>
            <div>
              {{infotext}}
            </div>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <div class="d-flex align-items-center">
              <div>
                <select class="custom-dropdown" [(ngModel)]="rows" (change)="onPageChange({ rows: +rows, first: 0 },rows,developersList)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
              <div class="paginatorCaption d-flex align-items-center">
                <ng-container i18n>records per page</ng-container>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="columns.length">
                No Data Available
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  <!-- popup for add developer -->
  <app-popup *ngIf="showAddDevPopup" [minHeight]="'250px'" header="Add Developer" i18n-header (onClose)="onCancelClick()">
    <div body>
      <form [formGroup]="addDevForm">
        <input type="email" name="email" class="form-control add-dev-form-control" style="display: none" />
        <input type="password" name="password" class="form-control add-dev-form-control input-box-agent" style="display: none" />
        <div class="row d-flex">
          <div class="form-group col-sm-6">
            <label class="control-label">
              <ng-container i18n>FIRST NAME</ng-container>
              <span style='color:#FF0000'>*</span>
            </label>
            <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" name="driver_fname" class="form-control add-dev-form-control" formControlName="fname" autofocus/>
            <control-messages [control]="addDevForm.controls.fname"></control-messages>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">
              <ng-container i18n>LAST NAME</ng-container>
            </label>
            <input type="text" pInputText [pKeyFilter]="commonService.blockSpecial" name="driver_lname" class="form-control add-dev-form-control" formControlName="lname" />
            <control-messages [control]="addDevForm.controls.lname"></control-messages>
          </div>
        </div>
        <div class="row d-flex">
          <div class="form-group col-sm-6">
            <label class="control-label">
              <ng-container i18n>EMAIL</ng-container>
              <span style='color:#FF0000'>*</span>
            </label>
            <input type="email" name="email" class="form-control add-dev-form-control" formControlName="email" />
            <!-- <span class="error" *ngIf="!addDevForm.controls.email.valid && addDevForm.controls.email.errors.required && !addDevForm.controls.email.pristine">This field is required</span> -->
            <!-- <span class="error" *ngIf="!addDevForm.controls.email.valid && addDevForm.controls.email.errors.pattern &&  addDevForm.controls.email.touched">Please enter a valid email</span> -->
            <control-messages [control]="addDevForm.controls.email"></control-messages>
          </div>
          <div class="form-group col-sm-6">
            <label class="control-label">
              <ng-container i18n>PASSWORD(MINIMUM 6)</ng-container>
              <span style='color:#FF0000'>*</span>
            </label>
            <input type="password" name="password" class="form-control add-dev-form-control input-box-agent" formControlName="password"
            />
            <span class="error" *ngIf="!addDevForm.controls.password.valid && addDevForm.controls.password.errors.required && !addDevForm.controls.password.pristine">This field is required</span>
            <span class="error" *ngIf="!addDevForm.controls.password.valid && addDevForm.controls.password.errors.minlength &&  addDevForm.controls.password.touched">Password must be minimum 6 characters long</span>
            <!-- <control-messages [control]="addDevForm.controls.password"></control-messages> -->
          </div>
        </div>
      </form>
    </div>
    <div footer class="footer-buttons " style="text-align: right">
      <button id="close-button" class="btn btn-default" (click)="onCancelClick()">
        <ng-container i18n>Cancel</ng-container>
      </button>
      <button class="btn common-btn-green export_btn create-button" (click)="inviteDeveloper()">
        <ng-container i18n>Create</ng-container>
      </button>
    </div>
  </app-popup>
</div>

<!-- <ng-template #buttonTemplate>
  <li>
    <button type="button" class="btn btn-primary dev-add-button" (click)="showAddPopup()">
      <ng-container i18n>Add developer</ng-container>
    </button>
  </li>
</ng-template> -->